.hero {
  background-color: var(--contrast-sections-color);

  text-align: center;


    padding-top: 118px;
    padding-bottom: 118px;
  

  @media screen and(min-width:1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

}
.overlay {
  margin: 0 auto;

  max-width: 480px;
  height: 400px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    // url(../images/hero-img.jpg);
    url(../images/bcg-hero-img-mobile.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bcg-hero-img@2x.jpg");
  }

  @media screen and(min-width:768px) {
    max-width: 768px;
    min-height: 400px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bcg-hero-img-tablet.jpg");

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/bcg-hero-img@2x-tablet.jpg");
    }
  }

  @media screen and(min-width:1200px) {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/bcg-hero-img.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/bcg-hero-img@2x-decktop.jpg");
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {




  font-weight: 900;
  font-size: 26px;
  max-width: 360px;

  @media screen and(min-width:1200px){
    font-size: 44px;
    max-width: 696px;
  }
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-text-color);
  margin: 0 auto;
  
}
.order-button {
  border-style: none;
  background-color: var(--accent-color);
  height: 50px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 2.38;
  text-align: center;
  padding: 1px 22px;
  cursor: pointer;
  color: var(--contrast-text-color);
  margin-top: 30px;
}
.button-shadow {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}
