.modal-form{

}
.modal-form-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-font-color);
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 28px;
}

.modal-form-input-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20px);
  padding: 0;
  margin-top: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--submain-font-color);
}

.modal-form-input {
  background-color: var(--body-background-color);
  padding: 11px 40px;
  margin-top: 0;
  margin-bottom: 10px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover, 
.modal-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-icon {
  position: absolute;
  top: 12px;
  left: 14px;
  fill: currentColor;
  color: var(--main-font-color);
}

.modal-form-input:hover + 
.modal-form-icon, 
.modal-form-input:focus + 
.modal-form-icon {
  color: var(--accent-color);
}

.modal-form-comment {
  padding: 12px 16px;
  margin-top: 0;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-comment:hover, 
.modal-form-comment:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agreement-label {
  position: relative;
  padding-left: 23px;
}

.modal-form-license-agreement-link {
  margin-left: 0.25rem;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form-icon-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
}

.modal-form-icon-checkbox-not-checked {
  display: block;
}
.modal-form-standart-checkbox:checked ~ 
.modal-form-icon-checkbox-not-checked {
  display: none;
}

.modal-form-icon-checkbox-checked {
  display: none;
}
.modal-form-standart-checkbox:checked ~ 
.modal-form-icon-checkbox-checked {
  display: block;
}
.modal-form-standart-checkbox{
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-button {
  border-style: none;
  background-color: var(--accent-color);
  height: 50px;
  width: 200px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 2.38;
  text-align: center;
  cursor: pointer;
  color: var(--contrast-text-color);
  margin-top: 30px;

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}