:root {
    /* -----colors palette */
    --main-font-color: #212121;
    --submain-font-color: #757575;
    --body-background-color: #ffffff;
    --section-background-color: #f5f5f5;
    --buttons-color: #f5f4fa;
    --accent-color: #2196f3;
    --contrast-sections-color: #2f303a;
    --contrast-text-color: #ffffff;
    --transparent-text-color: rgba(255, 255, 255, 0.6);
    --transparent-ico-color: rgba(255, 255, 255, 0.1);
    --border-color: #ececec;
    --hero-gradient: rgba(7, 48, 58, 0.4);
    --hover-shadow: rgba(0, 0, 0, 0.25);
    --ico-color: #afb1b8;
  }